# Mac specific directory
.DS_Store


# Patches & SQLITE
*.patch
*.sqlite


# IDE specific directories and files
/.buildpath
/.idea
/.project
/.settings


# CodeKit and Sublime Text 2 project files
config.codekit
*.sublime-project
*.sublime-workspace


# Webserver specific configuration
/.htaccess
/lighttpd.conf
/nginx.conf
/web.config


# CMS
/setup.php
/setup*.php

/uploads/cache/*.tmp
/uploads/gallery/pics/*.jpg
/uploads/gallery/thumbs/*.jpg
/uploads/games/[1-9].gif
/uploads/imprint/*.txt
/uploads/logs/actions/*.log
/uploads/logs/errors/*.log
/uploads/rss/*.xml
